#confirm-order-items::-webkit-scrollbar {
    width: 3px;
}

#confirm-order-items::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

#confirm-order-items::-webkit-scrollbar-thumb {
    background-color: #f87171;
    border-radius: 4px;
}

#confirm-order-items::-webkit-scrollbar-thumb:hover {
    background-color: #ef4444;
}
